{% include "templates/html.html" %}

	<header id="header"><!--header-->
{% include "templates/header.html" %}
{% include "templates/header-middle.html" %}
{% include "templates/header-bottom.html" %}
	</header><!--/header-->


	<div class="container text-center">
		<div class="content-404">
			<img src="images/404/404.png" class="img-responsive" alt="" height="300" width="300" />
			<h1><b>OPPS!</b> We Couldn’t Find this Page</h1>
			<p>Uh... So it looks like you brock something. The page you are looking for has up and Vanished.</p>
			<h2><a href="/">Bring me back Home</a></h2><br/><br/>
		</div>
	</div>

{% include "templates/footer.html" %}