
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +254719301140</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@supplier.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/charlie.wayne1"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/Aboue_"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://ke.linkedin.com/in/abunga-phares-39a42477"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://plus.google.com/u/1/105181635630066561664/posts"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->