{% include "templates/html.html" %}

	<header id="header"><!--header-->
{% include "templates/header.html" %}
{% include "templates/header-middle-admin.html" %}
{% include "templates/header-bottom-admin.html" %}
	</header><!--/header-->

<div class="container">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>ID no.</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>ID no.</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Mobile</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>ID no.</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Mobile</th>

            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <th>ID no.</th>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>61</td>
                <td>2011/04/25</td>
            </tr>
       </tbody>
    </table>
</div>
{% include "templates/footer.html" %}